:root {
    --azulPrincipal: #5858a9;
    --brancoPrincipal: #f6f6f6;
}

*{
    margin: 0;
    padding: 0;
    transition: 200ms;
}

body{
    background-image: url(../assets/bg1.jpg);
    background-size: cover;
    font-family: sans-serif;
}

.container{
    position: relative;
   
    height: 100vh;
    
}

.content{
    display: grid;
    grid-template-columns: 18vw 82vw;
}
